<div class="mt-5">
  <form action="/" method="GET">
  <select class="form-select mb-5" aria-label="Default select example" name="category" onchange="this.form.submit()">
    <option value="">類別</option>
    {{#each categories}}
    <option value="{{this._id}}"{{this.selected}}>{{this.name}}</option>

    {{/each}}
  </select>
  </form>
  <div class="d-flex justify-content-center">
    <h4>總金額：</h4>
    <h1 class="total-amount text-danger">{{totalAmount}}</h1>
  </div>


  <ul class="list-group list-group-flush d-flex justify-content-center">
    {{#each records}}
    <li class="list-group-item list-group-item">
      <div class="row align-items-center">
        <div class="col-auto">
          <i class="{{this.categoryId.icon}}"></i>
        </div>
        <div class="col-auto me-auto">
          <div class="fw-bold category-text" style="display:inline">{{ this.name }}</div>
          <div class="date-text">{{ this.date }}</div>


        </div>
        <div class="col auto amount-text text-end" style="display:inline">{{ this.amount }}</div>
        <div class="col-auto">
          <a class="btn btn-primary" href="/records/{{this._id}}/edit">修改</a>
          <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-danger" type="submit">刪除</button>
          </form>
        </div>
      </div>
    </li>


    {{/each}}
  </ul>
</div>

<div class="row-auto text-center mt-3">
  <a class="btn btn-warning btn-outline-secondary" href="/records/new">新增支出</a>
</div>
